  table {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  
  tr, div.phonenumber {
    height: 100px;
    text-align: center;
    padding-left: 10px;
    background-color: #F3F8FB;
    width: 100%;
    color:#264AFF;
    font-size: 20px;
  }

  .no{
   justify-content: flex-end;
    flex-direction: row;
  }

  .yes{
    justify-content: flex-end;
    flex-direction: row;
  }

  img{
    margin : 10px;
  }

  .fullscreen{
    height:100% !important;
    background-color: #F3F8FB;
  }

  .green {
    color: green;
    font-size: 70px;
  }

  .message-input {
    padding: 0px 20px;
  }

  form{
    width:100%
  }

  .buttonclass{
    height: 100px;
    text-align: center;
    padding-left: 10px;
    background-color :#FF852D !important;
    width: 100%;
    color:#FFFFFF;
    font-size: 20px;
  }

  .inputclass{
    height: 100px;
    text-align: center;
    padding-left: 10px;
    background-color :#FFFFFF !important;
    width: 100%;
    color:#000000;
    font-size: 20px;
  }