table, td, th {
    border: 1px solid black;
  }
  
  table {
    margin: 10px;
    border-collapse: collapse;
    width: 100%;
  }
  
  tr {
    height: 60px;
    text-align: center;
  }

  .no{
    background-color: #90EE90;
  }

  .yes{

  }

  img{
    margin : 10px;
  }

  .fullscreen{
    height:100% !important;
  }